<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>商品 </title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="renderer" content="webkit">
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="icon" type="image/png" href="../static/images/favicon.png">
		<link href="../static/css/amazeui.min.css" rel="stylesheet" type="text/css" />
		<link href="../static/css/style.css" rel="stylesheet" type="text/css" />
		<script src="../static/js/jquery-1.10.2.min.js"></script>
	</head>
	<body>
		<header data-am-widget="header" class="am-header am-header-default sq-head ">
			<div class="am-header-left am-header-nav">
				<a href="javascript:history.back()" class="">
					<i class="am-icon-chevron-left"></i>
				</a>
			</div>
			<h1 class="am-header-title">
  	            <a href="" class="">商品</a>
            </h1>
	    </header>
	    <div style="height: 49px;"></div>
	    <ul class="list-nav">
	    	<li class="current"><a href="">综合</a></li>
	    	<li><a href="">销量</a></li>
	    	<li><a href=""><i class="list-price">价格</i></li>
	    	<li><a href="">新品</a></li>
	    </ul>
	    <ul class="list-pro">
			{% for shop in shoplist %}
	    	<li>
	    		<a href="detail.html"><img src={{ shop.shop_master_map_url }} class="list-pic" /></a>
	    		<div class="shop-list-mid">
                	<div class="text_chang"><a href="detail.html">{{ shop.commodity_name }}</a></div>
                	<div class=""></div>
					<table>
						<tr>
							<td class="text_yangshi" style="text-decoration: line-through;">原价 ￥{{ shop.shop_price }}</td>
							<td class="text_yangshi" style="width: 50%;text-align: right">销量 {{ shop.shop_volume }}</td>
						</tr>
						<tr><td class="text_yangshi">券后价￥10</td></tr>
					</table>
					<div>
						<div style="width: 55px;height: 18px;background:rgb(246, 90, 16);line-height:18px;color: #fff;display: inline-block;text-align: center">
							<span style="margin-left: -6px;font-size: 10px">券{{ shop.coupon_denomination_value }}元</span>
						</div>
						<span style="border-right:1px dashed #fff;position: relative;left: -14px;"></span>
						<div style="width: 10px;height: 10px;border-radius: 50%;background: #fff;display: inline-block;margin-left: -10px;position: relative;">
						</div>
					</div>

                </div>
				<!--<div style="width: 20%;float: left;margin-left: 0.625rem;">-->
					<!--<h4>sdas</h4>-->
				<!--</div>-->

                <div class="list-cart">
						<h4>dsa</h4>
                </div>
                <!--<a href="" class="list-cart"><img src="../static/images/cart.png" width="30"/></a>-->
	    	</li>
			{% endfor %}
	    </ul>


<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/amazeui.min.js"></script>

	</body>
</html>
