<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <!--<base href="<%=basePath%>">-->
    <meta charset="utf-8">
    <title>My JSP 'MyJsp.jsp' starting page</title>

    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="This is my page">
    <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
    <!--
    <link rel="stylesheet" type="text/css" href="styles.css">
    -->
  <script type="text/javascript">
      window.onload=function(){
          alert($(document).height());
          alert($(window).height());
          alert($(window).scrollTop();
          if ($(document).height() == $(window).height() + $(window).scrollTop()) {
              linkclick();
          }
      };

      function linkclick() {
          $("link").trigger("click")
      }
  </script>

</head>
<body >

{% for shop in list %}
<li class="box bloglist">
    <div class="text_chang"><a href="detail.html">{{ shop.commodity_name }}</a></div>
</li>
{% endfor %}
<a id="link" href="https://www.baidu.com" ></a>



  </body>


</html>